.indicators {
  display: flex;
  justify-content: right;
  top: 4.7rem;
  right: 20px;

}

.indicator {
  width: 12px;
  height: 4px;
  transition: width 450ms ease;
  background-color: var(--mantine-color-blue-5);

  &[data-active] {
    width: 50px;
  }
}
