.runningBorder {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-radius-lg);
  box-shadow: var(--mantine-shadow-xl);
  overflow: hidden;
  background: transparent;
  padding: .1rem .11rem;
  transform: scale(1.04, 1.08) translateY(14px);
}

.runningBorder::before{
  content: '';
  position: absolute;
  width: 180%;
  height: 150px;
  animation: animate 5s linear 4;
}

@keyframes animate {
  0%{
    background-color: var(--mantine-color-green-3);
    transform: rotate(0deg);
  }
  100%{
    background-color: var(--mantine-color-green-3);
    transform: rotate(360deg);
  }
}
