.thead {
    border-radius: var(--mantine-font-size-sm);
    box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.15);
    font-size: var(--mantine-font-size-md)
}

.td:not(:first-child) {
    font-weight: 500;
    text-align: center
}

.td:first-child {
    font-weight: 700;
}

.th {
    text-align: center;
    white-space: nowrap;
}