:root[data-mantine-color-scheme='dark'] {
  --react-international-phone-background-color: #25262b;
  --react-international-phone-text-color: #c1c2c5;
}

:root[data-mantine-color-scheme='light'] {
  --react-international-phone-background-color: #f8f9fa;
  --react-international-phone-text-color: black;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
