:root[data-mantine-color-scheme='dark'] {
  --react-international-phone-background-color: #25262b;
  --react-international-phone-text-color: #c1c2c5;
}

:root[data-mantine-color-scheme='light'] {
  --react-international-phone-background-color: #f8f9fa;
  --react-international-phone-text-color: black;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgb(171, 171, 171);
}
